body {
    font-family: Sans;
    background-color: cadetblue;
    text-align: center;
}

.paper {
    text-align: left;
    display: inline-block;
    background-color: white;
    padding: 4em 6em;
    box-shadow: 5px 5px 3px black;
}

form[name="coilculator"] div {
    display: block;
    margin: 1em 0em;
}

h1 {
    text-align: center;
}

input[type="number"] {
    width: 5em;
}

.button {
    text-align: center;
}

input[type="button"] {
    width: 80%;
    height: 3em;
}

.lang_switch {
    position: relative;
    text-align: right;
    right: -3em;
    top: -2em;
}

.lang_switch a {
    color: blue;
}

a[id="active_lang"] {
    color: grey;
}

#git_link {
    position: relative;
    display: block;
    color: grey;
    font-size: small;
    text-align: center;
    width: 100%;
    bottom: -2em;
}

#icon {
    width: 1em;
}
